# Superbot Service Url
SUPERBOT_URL=http://localhost:3000/message

# Callback
CALLBACK_HOST=localhost
CALLBACK_PORT=3002

# Slack security config
CLIENT_SIGNING_SECRET=secret1

# Single-team Slack config
BOT_TOKEN=token1

# OAuth User token for accessing message history
USER_TOKEN=token2
